<div id="main-box">
<h1> Weather Smasher T-Rex Ultra 3000 </h1>
<%= @res %>

<div style="text-align: left">
<h2> <%= params[:city].capitalize%>, <%= @res.dig("sys", "country") %> </h2>
</div>

<div id="weather-box">
<div>
<div> <img src="http://openweathermap.org/img/wn/<%= @icon %>.png"> </div>
<div style="float: ">
<div> <%= @temp %>℃ </div> 
<div> <%= @desc %> </div>
</div>
</div>
<div>
</div>

</div>

<div>

<div>
</div>

<div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>

</div>


<h3> Do you want to check another city? </h3>

<form action="/show_city">
<input name="city" type="text">
<button type="submit">Check</button>
</form>

</div>


